<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Plant Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='plant.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="biome-container">
        <!-- Biomes and plants will be dynamically added here -->
    </div>
      
</body>
</html>
