<!DOCTYPE html>
<html>
<head>
    <title>Plant Game</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        var APP_ENV = "{{ env }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Welcome to Idle Plant Game!</h1>
            <div>
                <a href="/user_auth/login">Login</a>
                <a href="/user_auth/register">Register</a>
            </div>
        </div>
        <div class="warning">
            <h3>Quick heads-up! 🌱</h3>
            <p>
                While we're watering and nurturing this little game of ours, the soil might get tilled from time to time. 
                That means all your progress could magically return to seed form (a.k.a. poof! gone). 
                But hey, there's a time to reap and a time to sow. 
                So, if you're cool with that, let's get planting!
            </p>
        </div>
    </div>
      
</body>
</html>
