<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    <script>
        var APP_ENV = "{{ env }}";
    </script>
    
</head>
<body>
    <div style="padding: 10px; background-color: #f5e3a1; border: 1px dashed #e69500; margin-bottom: 20px; border-radius: 8px;">
        <h2>Welcome to the Alpha Build 🌱</h2>
        <p>Hey there, intrepid plant enthusiast! You're about to embark on a botanical journey so new, we haven't even assigned a version number yet. Think of yourself as the earliest of early adopters. 🌟</p>
        <p>Quick heads up: Our soil (code) is so fresh, we haven't gotten around to hashing passwords yet. So, don't plant your most precious password here. Maybe use that one you tried for your diary in 3rd grade? 🤔</p>
    </div>

    <form id="register-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
